*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Montserrat',sans-serif,arial,helvetica ;
}
html, body{
    overflow-x: hidden;
}
header
{
    width: 100%;
    padding: 29px 15px 25px 15px;
    display: flex;
}
/* menu bars started */
.menu-bar {
    display: none;
}
.menu-icon {
    position: absolute;
    top: 50px;
    right: 20px;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    cursor: pointer;
}
.menu-icon div {
    width: 100%;
    height: 5px;
    background-color: #333;
    transition: 0.4s ease;
}
.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: rotate(45deg) translate(-7px, -6px);
}
/* Menu bar ended */
.home-logo{
    display: flex;
    width: 24.2%;
    justify-content: center;
}
.home-logo a img{
    width: 120px;
}
header .header-ul{
    display: flex;
    list-style: none;
    width: 70.5%;
    align-items: center;
    padding-bottom: 5px;
    gap: 40px;
    justify-content: right;
}
.header-ul li a{
    color: #777;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}
.header-ul .log-in-btn{
    background-color: #0071bc;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}
.header-ul li a:hover{
    color: #333;
}
.header-ul .log-in-btn:hover{
    color: #444;
    cursor: pointer;
}
/* Navbar Started */
nav .navbar-ul{
    display: flex;
    list-style: none;
    margin: 10px 0 40px 90px;
}
.navbar-ul li a{
    text-decoration: none;
    padding: 5px 20px;
    font-weight: 500;
    color: #0071bc;
    border-right: 2px solid #0071bc;
}
/* Section Started From here */
section .service-info{
    display: flex;
    width: 100%;
    padding: 0 120px;
}
.service-info img{
    width: 25%;
    height: 20%;
    margin: 20px 20px 30px 0 ;
}
.service-details h1{
    font-size: 42px;
    color: #222;
    font-weight: 700;
}
.service-details .fa-star{
    color: #999;
}
.service-details-btn .yellow-btn{
    padding: 10px;
    background-color: rgb(245, 180, 3);
    border: none;
    border-radius: 3px; 
    font-size: 15px;
}
.service-details-btn .red-btn{
    padding: 10px 15px;
    background-color:rgb(250, 56, 56);
    color: #fff;
    margin: 0 6px;
    border: none;
    border-radius: 3px;
    font-size: 15px;
}
.service-details-btn .blue-btn{
    padding: 10px 15px;
    background-color: #0071bc;
    color: #fff;
    border: none;
    margin: 0 6px;
    border-radius: 3px;
    font-size: 15px;
}
.service-details-btn .green-btn{
    padding: 10px 15px;
    background-color:rgb(21, 150, 79);
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 15px;
}
.service-details-btn i{
    margin: 0 5px;
}
.business-description h2{
    margin: 40px 0 20px 0px;
    color: #222;
    font-size: 30px;
    font-weight: 600;
}
.underline{
    width: 110px;
    height: 2px;
    background-color: #3C25A4;
    margin: 0 0 50px 0px;
}
/* Main Section Container started here */
section .section-container
{
    width: 100%;
    padding: 0 104px;
    display: flex;
}
.section-container .left-side-container{
    width: 65%;
}
.section-container .right-side-container{
    width: 30%;
    margin-left: 30px;
}
.photo-gallery h3{
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0;
}
.left-side-container .img-crousel{
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(88, 86, 86);
    border-radius: 50%; 
    width: 50px;
    height: 50px;
}
.star-rating{
    font-size: 24px;
    color: #ccc;
}
.star{
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}
.star:hover, .star:hover ~ .star{
    color: #0071bc;
}
.left-side-container .write-review{
    margin: 50px 0;
}
.write-review textarea{
    width: 100%;
    border: 1px solid rgb(209, 206, 206);
    border-radius: 4px;
    margin: 20px 0;
    height: 25vh;
    outline: none;
    padding: 20px;
}
.left-side-container .submit-btn{
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    background-color: #0071bc;
    color: #fff;
}
/* Left Side Container completed here */

/* Right side container started from here below */
.right-side-container .contact-info{
    border: 1px solid rgb(211, 205, 205);
    margin: 40px 0;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.right-side-container button{
    padding: 7px 10px;
    margin: 5px;
    border: 1px solid rgb(75, 187, 75);
    border-radius: 3px;
    color: green;
}
.iframes iframe{
    width: 100%;
    height: 280px;
}
.card-body a{
    font-weight: 500;
}
.card-body .fa{
    margin: 18px 10px;
    font-size: 23px;
}
.business-hours .card{
    margin-top: 20px;
}
.list-group-item .span-time{
    background-color: #0071bc;
    text-align: right;
}
.right-side-container .business-pages{
    border: 1px solid rgb(207, 204, 204);
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
}
.right-side-container .business-pages{
    padding: 20px;
}
.business-pages a{
    padding: 10px 20px;
}
/* Footer Started from here */
footer .subscription{
    background-color: #DFC979;
    display: flex;
    align-items: center;
    padding: 18px 104px;
    margin-top: 60px;
    width: 100%;
}
.subscribe-input{
    width: 50%;
    padding: 0 10px;
}
.subscribe-header{
    width: 50%;
}
.subscribe-header h2{
    color: #222;
    font-size: 31px;
    font-weight: bolder;
}
.subscribe-header h4
{
    font-size: 25px;
    font-weight: 500;
    color: #333;
}
.input-field{
    border-radius: 5px;
    width: 100%;
}
.input-field input{
    margin-right: -4px;
    padding: 15px;
    font-size: 18px;
    width: 72%;
    outline: none;
    color: #555;
    border: none;
    border-radius: 5px 0 0 5px;
}
.input-field button{
    width: 26%;
    background-color: #222;
    font-size: 16px;
    border: none;
    color: #ffffff;
    padding: 16px;
}
.subscribe-input{
    width: 50%;
}
.footer-links{
    width: 508px;
    padding: 30px 100px;
    display: grid;
    grid-template-columns: 270px 270px 270px;
}
footer .footer-links-container{
    width: 100%;
    background-color: #0071bc;
}
.footer-links-text .footer-ul li{
    padding: 5px 0;
}
.footer-link-text{
    width: 280px;
}
.footer-links-text h4{
    color: #fff;
    padding: 15px 0 10px 0;
    font-size: 22px;
    font-weight: 500;
}
.footer-links-text ul{
    list-style: none;
}
.footer-ul a, .footer-ul a{
    text-decoration: none;
    color: #fff;
}
.footer-ul{
    padding: 0;
}
.footer-icons i{
    color: #ffffff;
    font-size: 25px;
}
.footer-icons{
    display: flex;
}
.footer-icons img{
    width: 45px;
    height: 45px;
    margin-right:10px;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
}
.footer-ul a:hover{
    color: rgb(212, 208, 208);
}
/* bottom footer started */
.footer-copyright{
    background-color: #02619f;
}
.footer-copyright p{
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    margin: 0;
    padding: 25.5px;
}
/* Responsiveness Started from here */
@media screen and (max-width:1070px)
{
    header .header-ul{
        gap: 26px;
    }
    .section-container{
        flex-direction: column;
    }
    nav .navbar-ul{
        padding: 0;
    }
    .navbar-ul li a{
        padding: 5px 12px;
        font-size: 14px;
        font-weight: 600;
    }
    .section-container .left-side-container{
        width: 100%;
    }
    .section-container .right-side-container{
        width: 100%;
        margin: 0;
    }
    .right-side-container iframe{
        width: 100%;
    }
    .input-field button{
        padding: 17px 5px;
        border-radius: 0 4px 4px 0 ;
    }
}
@media screen and (max-width:900px)
{
    nav .navbar-ul{
        display: flex;
        flex-wrap: wrap;
        gap: 25px 0;
    }
    section .service-info{
        padding: 0 100px;
        width: 100%;
    }
    section .section-container{
        padding: 0 60px;
    }
    .service-details-btn{
        display: flex;
        flex-wrap: wrap;
        gap: 15px 0;
    }
    footer .subscription{
        padding: 18px 60px;
    }
    .input-field input{
        width: 67%;
    }
    .input-field button{
        width: 32%;
        font-size: 15px;
    }
    .footer-links{
        grid-template-columns: repeat(3,200px);
        padding: 30px 60px;
    }
}
@media screen and (max-width:775px)
{
    header{
        padding: 29px 15px 25px 25px;
    }
    .menu-bar{
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    header .header-ul{
        display: block;
        transform:scaleY(0) ;
        position: absolute;
        top: 120px;
        right: 0;
        transform-origin: top ;
        transition:all 0.7s ease-in-out;
        background-color: #0071bc;
        width: 250px;
        padding: 0;
        border-right: 1px solid rgb(247, 239, 239);
    }
    .header-ul li{
        padding: 10px;
        border: 1px solid #fff;
    }
    .header-ul li a{
        width: 250px;
        color: #fff;
        font-size: 18px;
    }
    .header-ul.showHeader {
        flex-direction: column;
        transform: scaleY(1);
        transform-origin: top;
        transition: all 1s;
    }
    nav .navbar-ul{
        margin: 10px 0 40px 10px;
    }
    /* Section Started from here */
    section .service-info{
        padding: 10px 30px;
        align-items: center;
    }
    .service-details-btn button{
        margin: 0 !important;
    }
    .service-info h1{
        font-size: 27px;
    }
    section .section-container{
        padding: 0 20px;
    }
    .section-container h2{
        font-size: 19px;
    }
    .section-container .underline{
        width: 62px;
        margin-bottom: 35px;
    }
    /* Footer started from here */
    footer .subscription{
        display: block;
        padding: 30px;
    }
    .subscription .subscribe-header, .subscribe-input{
        width: 100%;
    }
    .subscribe-header h2{
        font-size: 19px;
    }
    .subscribe-header h4{
        font-size: 21px;
    }
    .subscribe-input{
        padding: 0;
    }
    footer .footer-links{
        width: 100%;
        padding: 30px 20px;
        grid-template-columns: 45% 45%;
        gap: 20px;
    }
    .footer-ul a{
        font-size: 15px;
    }
}