*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Montserrat',sans-serif,arial,helvetica ;
}
nav
{
    width: 100%;
    padding: 29px 15px 25px 15px;
    display: flex;
}
/* menu bars started */
.menu-bar {
    display: none;
}
.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    cursor: pointer;
}
.menu-icon div {
    width: 100%;
    height: 5px;
    background-color: #333;
    transition: 0.4s ease;
}
.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: rotate(45deg) translate(-7px, -6px);
}
/* Menu bar ended */
.home-logo{
    display: flex;
    width: 24.2%;
    justify-content: center;
}
.home-logo a img{
    width: 120px;
}
nav .header-ul{
    display: flex;
    list-style: none;
    width: 70.5%;
    align-items: center;
    padding-bottom: 5px;
    gap: 40px;
    justify-content: right;
}
.header-ul li a{
    color: #777;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}
.header-ul .log-in-btn{
    background-color: #0071bc;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}
.header-ul li a:hover{
    color: #333;
}
.header-ul .log-in-btn:hover{
    color: #444;
    cursor: pointer;
}
/* Section Area Started */
.section-image .section-headings{
    background-image: url(./images/body-image.webp);
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    bottom: 0;
    padding: 100px 50px;
    margin: 0;
    text-align: center;
}
.section-headings h2{
    color: #ffffff;
    font-weight: 500;
    font-size: 50px;
}
.section-image .section-headings p{
    color: #fff;
    font-size: 90px;
    font-weight: 700;
}
.header-inputs{
    width: 100%;
    padding: 0 50px;
}
.home-inputs{
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    text-align: left;
    align-items: center;
    color: black;
    font-size: 18px;
}
.home-inputs .keyword-search-input{
    border-right: 1px solid #ccc;
    width: 28%;
    padding-left: 20px;
}
.keyword-search-input label{
    font-size: 16px;
    font-weight: 600;
    color: #222;
}
.keyword-search-input input{
    background-color: #ffffff;
    border: none;
    width: 85%;
    padding: 10px 0;
    outline: none;
    font-size: 17px;
    color: #999;
}
.location-search-input{
    border-right:1px solid #ccc ;
    width: 28%;
    padding-left: 20px;
}
.location-search-input label{
    font-size: 16px;
    font-weight: 600;
}

.location-search-input input{
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 17px;
    color: #999;
}
.location-search-input i{
    font-size: 25px;
}
.category-input{
    border-right: 1px solid #ccc;
    width: 28%;
    padding-left: 20px;
}
.category-input label{
    font-size: 16px;
    font-weight: 600;
    color: #222;
}
.category-input i{
    font-size: 25px;
}
.category-input .service-options option{
    font-size: 16px;
}
.service-options select{
    width: 67%;
    outline: none;
    border: none;
    font-size: 16px;
    margin-top: 10px;
    appearance: none;
}
.search-btn{
    width: 16%;
    height: 100%;
} 
.search-btn button{
    width: 100%;
    height: 100%;
    padding: 44px;
    background-color: #0071bc;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 18px;
}
/* Search Nav Bar Ended */
.ul-below-searchBar{
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    padding: 30px 100px;
    justify-content: space-around;
}
.ul-below-searchBar li{
    position: relative;
}
.ul-below-searchBar li a{
    color: #fff;
    text-decoration: none;
}
.ul-below-searchBar li a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 3px;
    background-color: #fff;
    width: 100%;
    left: 0;
    transform: scaleY(0);
    transition: transform 0.3s ease;
    transform-origin: left;
}
.ul-below-searchBar li a:hover::after{
    transform: scaleY(1);
}
/* Browse categories Selection started from here */
section .categories-container{
    width: 100%;
    padding: 0 30px;
}
.categories-container h1{
    margin: 50px 0 30px 120px;
    color: #222;
    font-size: 35px;
    font-weight: 600;
}
.underline{
    width: 110px;
    height: 2px;
    background-color: #3C25A4;
    margin: 0 0 50px 120px;
}
.categories-selection{
    display: grid;
    grid-template-columns: repeat(4,270px);
    gap: 20px;
    justify-content: center;
}
.categories{
    width: 270px;
}
.categories-selection .categories a{
    height: 110px;
    border: 1px solid #ccc;
    color: #222;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.categories a i{
    width: 20%;
    height: 50px;
    font-size: 30px;
    text-align: center;
    margin: 0 15px;
    padding: 10px;
    background-color: #E3E3E3;
    border-radius: 5px;
}
.categories-container .categories a:hover{
    color: #0071bc;
}
/* Listing cards header title */
.listing-header h3{
    margin: 50px 0 30px 120px;
    color: #222;
    font-size: 30px;
    font-weight: 600;
}
.listing-header .listing-underline{
    width: 110px;
    height: 2px;
    background-color: #3C25A4;
    margin: 40px 0 50px 120px;
}
.listing-container{
    width: 100%;
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 20px;
    justify-content: center;
}
.listing-container .listing-cards{
    width: 350px;
    border: 1px solid #ccc;
}
.listing-cards img{
    height: 300px;
    width: 350px;
    object-fit: cover;
}
.listing-cards a
{
    color: #444;
    font-size: 18px;
}
.cell-number{
    padding-top: 24px;
}
.listing-boxes{
    padding: 20px 0 10px 10px;
}
.listing-boxes .fa-star{
    color: #0071bc;
}
.listing-cards-footer .cm-and-fed{
    margin-top: 46px;
}
.listing-cards p{
    font-size: 16px;
    line-height: 1.5;
    margin: 5px;
}
.listing-cards-footer i{
    font-size: 22px;
    margin: 10px;
}
.listing-cards-footer .listing-down-btn{
    margin-top: 47px;
}
.listing-cards-footer .fa-phone{
    color: #0071bc;
}
.listing-cards-footer p a{
    color: #0071bc;
}
.listing-cards-footer button{
    margin-top: 20px;
    width: 350px;
    height: 50px;
    border: none;
    background-color: #0071bc;
    color: #ffffff;
}
section .next-page-btn{
    width: 100%;
    text-align: center;
}
.next-page-btn button{
    color: #fff;
    background-color: #0071bc;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 55px 0;
    font-size: 18px;
    font-weight: 100;
}
.location-listing i{
    padding: 7px 15px;
    font-size: 28px;
}
.location-listing{
    display: flex;
    margin: 50px 0 30px 100px;
    font-size: 22px;
    color: #333;
    font-weight: 100;
}
.locations-container-btn a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.locations-container-btn{
    width: 100%;
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 30px;
    justify-content: center;
}
.locations-container-btn button{
    background-color: #0071bc;
    width: 250px;
    padding: 20px;
    border: none;
}
/* Footer started from here */

/* Footer Started from here */
footer .subscription{
    background-color: #DFC979;
    display: flex;
    align-items: center;
    padding: 18px 104px;
    margin-top: 60px;
    width: 100%;
}
.subscribe-input{
    width: 50%;
    padding: 0 10px;
}
.subscribe-header{
    width: 50%;
}
.subscribe-header h2{
    color: #222;
    font-size: 31px;
    font-weight: bolder;
}
.subscribe-header h4
{
    font-size: 25px;
    font-weight: 500;
    color: #333;
}
.input-field{
    border-radius: 5px;
    width: 100%;
}
.input-field input{
    margin-right: -4px;
    padding: 15px;
    font-size: 18px;
    width: 72%;
    outline: none;
    color: #555;
    border: none;
    border-radius: 5px 0 0 5px;
}
.input-field button{
    width: 26%;
    background-color: #222;
    font-size: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    color: #ffffff;
    padding: 16px;
}
.subscribe-input{
    width: 50%;
}
.footer-links{
    width: 508px;
    padding: 30px 100px;
    display: grid;
    grid-template-columns: 270px 270px 270px;
}
footer .footer-links-container{
    width: 100%;
    background-color: #0071bc;
}
.footer-links-text .footer-ul li{
    padding: 5px 0;
}
.footer-link-text{
    width: 280px;
}
.footer-links-text h4{
    color: #fff;
    padding: 15px 0 10px 0;
    font-size: 22px;
    font-weight: 500;
}
.footer-links-text ul{
    list-style: none;
}
.footer-ul a, .footer-ul a{
    text-decoration: none;
    color: #fff;
}
.footer-ul{
    padding: 0;
}
.footer-icons i{
    color: #ffffff;
    font-size: 25px;
}
.footer-icons{
    display: flex;
}
.footer-icons img{
    width: 45px;
    height: 45px;
    margin-right:10px;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
}
.footer-ul a:hover{
    color: rgb(212, 208, 208);
}
/* bottom footer started */
.footer-copyright{
    background-color: #02619f;
}
.footer-copyright p{
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    margin: 0;
    padding: 25.5px;
}
/* Making Screen Responsive from here below*/
@media screen and (max-width:1145px)
{
    .categories-container h1{
        margin: 50px 0 30px 90px;
    }
    .underline{
        margin: 0 0 50px 90px;
    }
    .categories-selection{
        grid-template-columns: repeat(4,200px);
    }
    .categories{
        width: 200px;
    }
    .categories a i{
        width: 26%;
    }
    .location-search-input input{
        width: 78%;
    }
    .listing-header h3{
        margin: 50px 0 30px 90px;
    }
    .listing-header .listing-underline{
        margin: 40px 0 50px 90px;
    }
    .listing-container{
        grid-template-columns: repeat(3, 280px);
    }
    .listing-container .listing-cards{
        width: 280px;
    }
    .listing-cards img{
        width: 280px;
    }
    .listing-cards-footer button{
        width: 280px;
    }
    .listing-cards-footer .mt{
        padding-top: 25px;
    }
    .listing-cards-footer.st{
        margin-top: 30px;
    }
    .location-listing{
        margin-left: 80px;
    }
    .locations-container-btn{
        display: grid;
        grid-template-columns: repeat(4, 200px);
        gap: 30px;
    }
    .locations-container-btn button{
        width: 200px;
    }
    /* footer */
    .input-field input{
        width: 68%;
    }
    .input-field button{
        width: 30%;
    }
}
@media  screen and (max-width:890px)
{
    nav .header-ul{
        gap: 20px;
    }   
    .service-options select{
        width: 62%;
    }
    .keyword-search-input input{
        width: 77%;
    }
    .search-btn button {
        font-size: 14px;
    }
    .categories-selection{
        grid-template-columns: repeat(3,220px);
    }
    .categories{
        width: 220px;
    }
     .listing-container{
        grid-template-columns: repeat(2, 280px);
    }
    .listing-container .listing-cards{
        width: 280px;
    }
    .listing-cards img{
        width: 280px;
    }
    .listing-cards-footer button{
        width: 280px;
    }
    .listing-cards-footer .ss-landscape-btn{
        margin-top: 48px;
    }
    .locations-container-btn{
        display: grid;
        grid-template-columns: repeat(3, 200px);
        gap: 30px;
    }
    .locations-container-btn button{
        width: 200px;
    }
    /* footer started */
    footer .subscription{
        padding: 18px 70px;
    }
    .input-field input{
        width: 66%;
    }
    .input-field button{
        width: 32%;
    }
    .footer-links{
        padding: 30px 70px;
        grid-template-columns: 200px 200px 200px;
    }
}
@media screen and (max-width:752px) 
{ 
    header
    {
        padding: 29px 15px 25px 30px;
    }
    .menu-bar{
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    nav .header-ul{
        display: block;
        transform:scaleY(0) ;
        position: absolute;
        top: 170px;
        right: 0;
        transform-origin: top ;
        transition:all 0.7s ease-in-out;
        background-color: #0071bc;
        width: 250px;
        border-right: 1px solid rgb(247, 239, 239);
    }
    .header-ul li{
        padding: 10px;
        border: 1px solid #fff;
    }
    .header-ul li a{
        width: 250px;
        color: #fff;
        font-size: 18px;
    }
    .header-ul{
        padding: 0;
    }
    .header-ul.showHeader {
        flex-direction: column;
        transform: scaleY(1);
        transform-origin: top;
        transition: all 1s;
    }
    .section-headings h2{
        font-size: 30px;
    }
    .section-image .section-headings p{
        font-size: 27px;
    }
    .section-headings .header-inputs{
        padding: 0;
    }
    .home-inputs{
        width:100%;
        padding: 30px 0;
        flex-direction: column;
        justify-content: none;
        align-items: none;
        color: black;
        font-size: 16px;
    }
    .home-inputs .keyword-search-input,
    .home-inputs .location-search-input,
    .home-inputs .category-input{
        padding: 25px 0;
    }
    .home-inputs .section-headings{
        padding: 50px 0;
    }
    .home-inputs .keyword-search-input{
        border-right: none;
        width: 85%;
        padding-left: 0px;
    }
    .keyword-search-input label{
        font-size: 16px;
        font-weight: 600;
        color: #222;
    }
    .keyword-search-input input{
        background-color: #ffffff;
        border: none;
        width: 85%;
        padding: 10px 0;
        outline: none;
        font-size: 17px;
        color: #999;
    }
    .location-search-input{
        border-right:none ;
        width: 85%;
        padding-left: 0px;
    }
    .location-search-input label{
        font-size: 16px;
        font-weight: 600;
    }
    .location-search-input input{
        border: none;
        outline: none;
        padding: 0;
        width:85%;
        font-size: 17px;
        color: #999;
    }
    .location-search-input i{
        font-size: 25px;
    }
    .category-input{
        border-right: none;
        width: 85%;
        padding-left: 0px;
    }
    .category-input label{
        font-size: 16px;
        font-weight: 600;
        color: #222;
    }
    .category-input i{
        font-size: 25px;
    }
    .category-input .service-options option{
        font-size: 16px;
    }
    .category-input .service-options select{
        outline: none;
        border: none;
        font-size: 16px;
        appearance: none;
        width: 85%;
    }
    .search-btn{
        width: 85%;
        height: fit-content;
    } 
    .search-btn button{
        width: 100%;
        padding: 35px;
        background-color: #0071bc;
        cursor: pointer;
        border: none;
        color: #fff;
        font-size: 18px;
    }
    /*  */
    .ul-below-searchBar
    {
        margin: 20px 0;   
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
    }
    .ul-below-searchBar li a{
        margin: 0px;
        font-size: 20px;
    }
    /* Section Categories container started */
    section .categories-container h1{
        margin: 50px 0 30px 65px;
        font-size: 30px;
        font-weight: 500;
    }
    section .underline{
        margin: 0 0 50px 65px;
    }
    .categories-selection{
        grid-template-columns: 90%;
        gap: 30px;
    }
    .categories{
        width: 90%;
    }
    .categories a i{
        width: 25%;
        height: 60px;
        padding-top: 15px;
        font-size: 25px;
    }
    .categories  p{
        font-size: 19px;
    }
    .listing-header h3{
        margin: 50px 0 20px 25px;
    }
    .listing-header .listing-underline{
        margin: 20px 0 30px 25px;
    }
    .listing-container{
        grid-template-columns: 95%;
    }
    .listing-container .listing-cards{
        width: 95%;
    }
    .listing-cards img{
        width: 100%;
    }
    .listing-cards h4 a{
        font-size: 25px;
    }
    .listing-cards-footer .jmo-contact{
        margin-top: 10px;
    }
    .listing-cards-footer button{
        width: 100%;
        font-size: 18px;
    }
    .listing-cards-footer a{
        font-size: 18px;
    }
    /* location Listing started */
    .location-listing{
        margin: 0;
    }
    .location-listing h2{
        font-size: 24px;
    }
    .locations-container-btn{
        grid-template-columns: 95%;
    }
    .locations-container-btn button{
        width: 100%;
    }
    .locations-container-btn .more-cities{
        margin-left: 0px;
    }
    section .location-listing{
        margin-bottom: 20px;
    }
    /* Footer started from here */
    footer .subscription{
        display: block;
        padding: 30px;
    }
    .subscription .subscribe-header, .subscribe-input{
        width: 100%;
    }
    .subscribe-header h2{
        font-size: 19px;
    }
    .subscribe-header h4{
        font-size: 21px;
    }
    .subscribe-input{
        padding: 5px;
    }
    footer .footer-links{
        width: 100%;
        padding: 30px;
        grid-template-columns: 45% 45%;
        gap: 20px;
    }
    .footer-ul a{
        font-size: 15px;
    }      
}
