*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', arial, helvetica, sans-serif;
}
header{
    display: flex;
    width: 100%;
    height: 20vh;
    padding: 0.1rem 0;
    height: 20vh;
}
header .header-ul{
    margin-left: 200px;
    display: flex;
    list-style: none;
    width: 45%;
    align-items: center;
    justify-content: space-evenly;
}
.home-logo{
    margin: 25px 100px;
    width: 25%;
}
.home-logo a img{
    width: 150px;
}
.header-ul li a{
    color: #777;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}
.header-ul .log-in-btn
{
    background-color: #0071bc;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}
.header-ul .log-in-btn:hover{
    color: #333;
    cursor: pointer;
}
.header-ul li a:hover{
    color: #555;
}
/* Nav Bar Started From here */
nav{
    border-top: 0.5px solid lightgrey;
    display: flex;
    justify-content: center;
}
.navBar-items{
    margin-top: 20px;
    width: 85%;
    background-color: #0071bc;
    border-radius: 5px;
    height: 8.5vh;
}
.navBar-items select{
    width: 25%;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    appearance: none;
    outline: none;
}
.navBar-items input{
    width: 29%;
    border: none;
    outline: none;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}
.navBar-items button{
    width: 15%;
    background-color:#0071bc;
    border: none;
    color: #fff;
    font-size: 18px;
}
.page-name ul{
    display: flex;
    height: 10vh;
    background-color: #e7f1f5;
    width: 85.2%;
    border-radius: 5px;
    margin: 10px 0 20px 100px;
    align-items: center;
    list-style: none;
}
.page-name ul li i, .page-name ul li a{
    margin: 0 10px;
    text-decoration: none;
    color: #444;
}
.page-name .US a{
    color: #222;
    text-decoration: underline;
}
.page-name ul b{
    font-size: 30px;
    font-weight: 500;
    color: #0071bc;
}
/* Section Started From here below */
.section-container{
    display: flex;
    justify-content: center;
}
.left-side-categories{
    width: 22%;
    background-color: #0071bc;
    height: 160vh;
}
.left-side-categories h5{
    font-size: 22px;
    color: #fff;
    margin: 20px 0 5px 0;
}
.left-side-categories h5 a{
    text-decoration: underline;
    font-weight: 700;
}
.left-side-categories a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    width: 250px;
    margin: 10px 20px;
}
.left-side-categories a:hover{
    text-decoration: underline;
}
.locations{
    border-top: 1px solid #bdbbbb;
    border-bottom: 1px solid #bdbbbb;
    width: 90%;
    margin: 0 0 30px 10px;
}
.locations h5{
    font-size: 25px;
    margin: 15px 0 0 10px;
}
/* Right Side Categories Section started here */
.right-side-categories{
    width: 60%;
    margin: 10px 15px;
}   
.right-side-categories .listing-top-tag{
    display: flex;
} 
.right-side-categories .listing-top-tag a
{
    border-left: 1px solid #bdb6b6 ;
    border-top: 1px solid #c7c0c0;
    border-right: 1px solid #c7c2c2;
    border-radius: 4px 4px 0 0;
    text-decoration: none;
    color: #777;
    padding: 10px;
}
.listing-top-tag a b{
    background-color: rgb(177, 49, 49);
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    padding: 2px 6px;
}
.right-side-categories ul{
    padding: 5px 0;
}
.listing-top-tag .empty-div{
    width: 80%;
    border-bottom: 1px solid #dad0d0;
}
.right-side-categories .sorting-service{
    list-style: none;
    margin: 10px 0;
}
.sorting-service li a{
    color: #333;
    font-weight: 500;
}
.sorting-service li select{
    margin: 10px 0;
}
.right-side-categories .sorting-service select{
    border:  none;
    outline: none;
}
/* Listing Cards Started here below */
.listing-container
{
    display: grid;
    grid-template-columns: repeat(3,260px);
    gap: 20px;
}
.listing-cards{
    border: 1px solid #dfdada;
    border-radius: 3px;
}
.listing-cards img{
    width: 260px;
    height: 250px;
    border-radius: 3px 3px 2px 0;
}
.listing-cards-text{
    margin: 10px;
}
.listing-container .listing-cards-text a{
    color: #555;
    font-size: 20px;
    font-weight: 600;
}
.listing-cards-text i{
    color:#0071bc;
}
.listing-cards-location{
    margin: 10px 10px 50px 10px;
}
.listing-cards-location .mg{
    margin-top: 10px;
}
.listing-cards button{
    width: 258px;
    border: none;
    padding: 13px;
    border-radius: 0 0 3px 3px;
    background-color: #0071bc;
    color: #ffffff;
}
.listing-footer .page-no-ul{
    /* height: 1vh; */
    margin: 50px 52%;
}
.customer-items{
    text-align: center;
    background-color: #e7f1f5;
    height: 40vh;
}
.customer-items b{
    font-size: 38px;
    font-weight: 500;
}
.customer-items p{
    font-size: 20px;
    margin: 15px;
    font-weight: 500;
}
.customer-items button{
    border: none;
    background-color: #797777;
    border: 4px solid #ace0f5;
    border-radius: 8px;
    padding: 8px 12px;
    color: #fff;
}
.pagination .success a{
    background-color: #0071bc;
    color: #fff;
}
.customer-items button:hover{
    background-color: #5e5c5c;
}
/* Footer Started from Here */
.subscription{
    background-color: #DFC979;
    display: flex;
    height: 26vh;
    align-items: center;
}
.subscribe-header{
    width: 40%;
    margin-left: 120px;
}
.subscribe-header h2{
    padding: 15px 10px;
    color: #222;
    font-size: 30px;
}
.subscribe-header h4
{
    font-size: 26px;
    font-weight: 500;
    color: #333;
}
.input-field{
    margin-left: 150px;
    width: 70%;
    height: 10vh;
    background-color: #222;
    border-radius: 5px;
}
.input-field input{
    padding: 10px;
    font-size: 18px;
    outline: none;
    color: #555;
    height: 10vh;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 80%;
}
.input-field button{
    width: 15%;
    background-color: #222;
    font-size: 16px;
    border: none;
    color: #ffffff;
    padding: 10px;
}
.subscribe-input{
    width: 60%;
}
.footer-links{
    background-color:#0071bc;
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    gap: 90px;
}
.footer-links-text .footer-ul li{
    padding: 8px;
}
.footer-link-text{
    width: 400px;
}
.footer-links-text h4{
    color: #fff;
    padding: 40px 0;
    font-size: 24px;
    font-weight: 500;
}
.footer-links-text ul{
    list-style: none;
}
.footer-ul a, .footer-ul a{
    text-decoration: none;
    color: #fff;
}
.footer-ul{
    padding: 0;
}
.footer-icons i{
    color: #ffffff;
    font-size: 25px;
}
.footer-icons{
    display: flex;
}
.footer-icons img{
    width: 45px;
    height: 45px;
    margin: 0 8px;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
}
.footer-ul a:hover{
    color: rgb(212, 208, 208);
}
/* bottom footer started */
.footer-copyright{
    background-color: #054d7e;
    height: 15vh;
}
.footer-copyright{
    text-align: center;
    color: #ffffff;
    padding-top: 40px;
}




